
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ %{REQUEST_SCHEME}://%1%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

# This is for languages
RewriteRule ^(en|nl|..)/(.*)$ $2?lang=$1 [QSA,DPI]

# And this is for the items
RewriteRule ^([^/]+)/book/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^([^/]+)/event/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^([^/]+)/people/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^([^/]+)/location/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^([^/]+)/special/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^([^/]+)/map/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]

# This is for all the pages (as long as a page is available)
RewriteRule ^([^/]+)?$ index.php?page=$1 [QSA,DPI]

# Making sure things are redirected to php files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}\/$1\.php -f
RewriteRule ^(.*)$ /$1.php [QSA]