
/* Header with menu and all */
.header {
	background-color: GoldenRod;
	text-align: center;
}


/* The dropdown menu itself */
.dropdown {
	display: inline-block;
}

/* Image to create dropdown menu */
.dropimg {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: inherit;
}

/* The contents of the dropdown menu */
.dropdown_content {
	display: none; /* Invisible */
	position: absolute;
}

.dropdown_content a{
	float: none;
	display: block;
}

/* Show block, this class is toggled by a Javascript function */
.show {
	display: block; /* Visible */
}


/* Settings for all the images in the menu */
img.header {
	width: 100px;
	height: 50px;
}


.contents {
	float: left;
}

.list {	
	width: 25%;
	background-color: Red;
}

.data {	
	width: 75%;
	background-color: Yellow;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: Green;
	text-align: center;
}