/************************************************
 * Header parts
 */
#header {
    /* Height of the header */
    height: 75px;
}

#header #logo_link {
    /* Simple square */
    width: 75px;
    height: 75px;
    
    display: block;

    /* Background image of the home link */
    background-image: url("../img/logo.bmp");
    background-size: 75px 75px;
    background-repeat: no-repeat;
}

/* When the cursor is hovering over the link, change the background */
#header #logo_link:hover {
    background-image: url("../img/logo_hover.bmp");
}

/* Text over the banner image, 
   done separate so it could be displayed in multiple languages */
#header #banner_text {    
    /* So we can place it anywhere we want */
    position: absolute;
    
    /* Position of the text */
    padding-left: 100px;
    padding-top: 15px;
    
    /* Font size */
    text-align: Center;
    font-size: 24px;
    font-weight: bold;
}

/* The div that contains the language options and settings button */
/* Language button */
#header #options #dropdown_lang_div {
    height: 50px;
    width: 100px;
    
    /* No spaces around it */
    margin: 0;
    padding: 0;
    border: 0;
}

#header #options #dropdown_lang_menu {
    height: 50px;
    width: 100px;
    
    /* Menu is invisible, until it is clicked by the user */
    display: none;
    
    /* Place it on top of the parent */
    position: absolute;
    z-index: 1;
}

#header #options #dropdown_lang_button,
#header #options .dropdown_lang_option {
    height: 50px;
    width: 100px;
    
    /* No space around it */
    border: 0;
    padding: 0;
    margin: 0;
    
    display: block;
    
    /* Showing the language using
       All uppercase black letters */
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

#header #options #dropdown_lang_button:hover,
#header #options .dropdown_lang_option:hover {
    /* Give it a red border and red letters,
       if the user hovers over the language settings
       with the cursor */
    border: 2px solid red;
    color: red;
}

/* Settings button */
#header #options .settings {
    height: 50px;
    width: 50px;
    
    font-size: 50px;
}

#header #options .settings:hover {
    /* Make the icon partly transparant when hovering over it 
       with the cursor. It gives the icon a slightly lighter color */
    opacity: 0.5;
}


/************************************************
 * Navigation parts
 */
#navigation {
    height: 50px;
}

/* Add a white border on hover */
#navigation button:hover, 
#navigation button:focus {
    border-color: White;
    border-style: solid;
    border-width: 3px;
}

/* The button itself */
#navigation button {
    height: 50px;
    width: 100%;
}

/* The menu that will be visible when clicked on the dropdown button */
#navigation #dropdown_db_menu,
#navigation #dropdown_prodeo_menu {   
    width: 100%;
    
    /* Not visible until clicked */
    display: none;
    
    /* Display it on top over the button */
    position: absolute;
    z-index: 1;
}


/************************************************
 * Footer parts
 */
#footer {    
    /* The text that is displayed inside of the footer */
    text-align: center;
    font-weight: bold;
}


/************************************************
 * Home parts
 */

#home #content table {
    /* Table takes 80% of the width, but stays in the middle using margin: auto */
    width: 80%;
    margin: auto;
    
    /* Get some room al around the table */
    border-spacing: 50px;
    border-collapse: separate;
}

#home #content td, pre {
    /* Font to use for text */
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#home #content h1 {
    /* Font to use title, date & name */
    font-size: 32px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Use different colors for each 5 blogs
   The border on the top, makes it look like a sticky note */
#home #content tr:nth-child(5n) td {
    background-color: Yellow;
    border-top-width: 25px;
    border-top-color: Gold;
    border-top-style: solid;
}

#home #content tr:nth-child(5n + 1) td {
    background-color: LightGreen;
    border-top-width: 25px;
    border-top-color: Green;
    border-top-style: solid;
}

#home #content tr:nth-child(5n + 2) td {
    background-color: Pink;
    border-top-width: 25px;
    border-top-color: HotPink;
    border-top-style: solid;
}

#home #content tr:nth-child(5n + 3) td {
    background-color: LightBlue;
    border-top-width: 25px;
    border-top-color: Blue;
    border-top-style: solid;
}

#home #content tr:nth-child(5n + 4) td {
    background-color: Orange;
    border-top-width: 25px;
    border-top-color: DarkOrange;
    border-top-style: solid;
}

#home #content td {
    text-align: center;
}

/* This class is used when text in a blog is longer than 5 lines.
   It breaks the line and hides the other lines */
.blog_pre {
    width: 100%;
    word-wrap: break-all;
    white-space: pre-wrap;
    
    /* Height limit: 5 lines */
    max-height: 90px;
    overflow: hidden;
}

/* This class is used when text in a blog is longer than 5 lines,
   and the 'show more' button is clicked. */
.blog_pre_expand {
    width: 100%;
    word-wrap: break-all;
    white-space: pre-wrap;
}

/* The link to show more/less text in a blog, when 
   it is longer than 5 lines. */
.blog_link {
    color: black;
    text-decoration: underline;
}


/************************************************
 * Body parts
 */

#default {
    text-align: center;
}

/************************************************
 * Database parts
 */

/* These are the left and right buttons */
#button_bar button {
    height: 25px;
    
    /* No spaces around it */
    margin: 0;
    padding: 0;
    border: 0;
}


/* These are the items that can be picked */
#item_bar table, #item_bar tr
{
    /* Take the size you can get */
    width: 100%;
}

/* These table data cells contain the buttons to get the information */
#item_bar td
{    
    /* Grey clear border between the cells */
    border-width: 2px;
    border-style: solid;
    border-color: DarkGrey;
}

/* These are the clickable buttons for the different items */
#item_bar button
{
    /* Same size as the cells they are in */
    width: 100%;
    display: block;
    
    /* No space around it */
    margin: 0;
    padding: 0;
    border: 0;
    
    /* Text in the middle of the button, nice and bold */
    text-align: center;
    font-weight: bold;
    color: black;
}


/************************************************
 * Results from database
 */
 
/* The right side of the screen, that will display information
   about the chosen item */
#item_info {
    /* In the middle */
    text-align: center;
}

#item_info h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#item_info table
{
    /* Place the table in the middle as well */
    margin: auto;
    width: 80%;
    text-align: center;
    
    /* Get some space all around. So it isn't right under the title
       and right above the maps */
    padding: 10px;
    
    /* This way you only see one border between two cells, 
       instead of two. */
    border-collapse: collapse;
}

#item_info td {
    /* No borders on the sides */
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    
    /* Some space between the cells */
    padding: 5px;
}

/* Tiny tables inside the main table, for lists of locations, peoples etc.. */
#item_info td td {
    /* Don't show their borders */
    border-width: 0px;
}

/* First cell is the name of the field that is being shown */
#item_info td:first-child
{
    font-weight: bold;
}

/* But not for the tiny tables */
#item_info td td:first-child {
    font-weight: normal;
}

/* The links inside the tiny table */
#item_info td td a {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/************************************************
 * Contact parts
 */
#aboutus #content,
#contact #content {
    /* Use 80 percent of the width of the screen, 
       Using margin: auto, the div is placed in the middle 
       of the screen. */
    width: 80%;
    margin: auto;
    
    /* Put the text in the middle of the screen */
    text-align: center;
}

/* The area's that can be filled in, previewed or edited */
#contact #content textarea {
    /* Don't take up the entire width of the content div */
    display: block;
    width: 50%;
    
    /* Some space between the borders and the letters. Make the borders rounded */
    margin: 10px auto 10px auto;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
}

/* The button to add, edit or delete a blog */
#contact #content input {
    /* Smooth edges, space between the text and the border of the button */
    border: 0px;
    border-radius: 8px;
    padding: 10px;
    
    /* Clear letters in the center of the button */
    text-align: center;
    font-weight: bold;
}
