/************************************************
 * Header parts
 */
#header {
    /* Height of the header */
    height: 75px;
}

#header #logo_link {
    /* Simple square */
    width: 75px;
    height: 75px;
    
    display: block;

    /* Background image of the home link */
    background-image: url("../img/logo.bmp");
    background-size: 75px 75px;
    background-repeat: no-repeat;
}

/* When the cursor is hovering over the link, change the background */
#header #logo_link:hover {
    background-image: url("../img/logo_hover.bmp");
}

/* Text over the banner image, 
   done separate so it could be displayed in multiple languages */
#header #banner_text {    
    /* So we can place it anywhere we want */
    position: absolute;
    
    /* Position of the text */
    padding-left: 100px;
    padding-top: 15px;
    
    /* Font size */
    text-align: Center;
    font-size: 24px;
}

/* The div that contains the language options and settings button */
/* Language button */
#header #options #dropdown_lang_div {
    height: 50px;
    width: 100px;
    
    /* No spaces around it */
    margin: 0;
    padding: 0;
    border: 0;
}

#header #options #dropdown_lang_menu {
    height: 50px;
    width: 100px;
    
    /* Menu is invisible, until it is clicked by the user */
    display: none;
    
    /* Place it on top of the parent */
    position: absolute;
    z-index: 1;
}

#header #options #dropdown_lang_button,
#header #options .dropdown_lang_option {
    height: 50px;
    width: 100px;
    
    /* No space around it */
    border: 0;
    padding: 0;
    margin: 0;
    
    display: block;
    
    /* Showing the language using
       All uppercase black letters */
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

#header #options #dropdown_lang_button:hover,
#header #options .dropdown_lang_option:hover {
    /* Give it a red border and red letters,
       if the user hovers over the language settings
       with the cursor */
    border: 2px solid red;
    color: red;
}

/* Settings button */
#header #options .settings {
    height: 50px;
    width: 50px;
    
    /* No space around it or anything */
    margin: 0;
    padding: 0;
    border: 0;

    /* The settings icon */
    background-image: url("../img/icon/settings.svg");
    background-size: 50px 50px;
}

#header #options .settings:hover {
    /* Make the icon partly transparant when hovering over it 
       with the cursor. It gives the icon a slightly lighter color */
    opacity: 0.5;
}


/************************************************
 * Navigation parts
 */
#navigation {
    height: 50px;
}

/* Add a white border on hover */
#navigation button:hover, 
#navigation button:focus {
    border-color: White;
    border-style: solid;
    border-width: 3px;
}

/* The button itself */
#navigation button {
    height: 50px;
    width: 100%;
}

/* The menu that will be visible when clicked on the dropdown button */
#navigation #dropdown_db_menu,
#navigation #dropdown_prodeo_menu {   
    width: 100%;
    
    /* Not visible until clicked */
    display: none;
    
    /* Display it on top over the button */
    position: absolute;
    z-index: 1;
}


/************************************************
 * Footer parts
 */
#footer {    
    /* The text that is displayed inside of the footer */
    text-align: center;
    font-weight: bold;
}


/************************************************
 * Home parts
 */

#home {
    /* Take the entire width, get the text in the middle */
    text-align: center;
}

#home table {
    /* Table takes 80% of the width, but stays in the middle using margin: auto */
    width: 80%;
    margin: auto;
    
    /* Get some room al around the table */
    padding: 10px;
    border-spacing: 50px;
    border-collapse: separate;
    
    /* Font to use title, date & name */
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

pre {
    /* Font to use for text */
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Use different colors for each 5 blogs
   The border on the top, makes it look like a sticky note */
#home tr:nth-child(5n) td {
    background-color: Yellow;
    border-top-width: 25px;
    border-top-color: Gold;
    border-top-style: solid;
}

#home tr:nth-child(5n + 1) td {
    background-color: LightGreen;
    border-top-width: 25px;
    border-top-color: Green;
    border-top-style: solid;
}

#home tr:nth-child(5n + 2) td {
    background-color: Pink;
    border-top-width: 25px;
    border-top-color: HotPink;
    border-top-style: solid;
}

#home tr:nth-child(5n + 3) td {
    background-color: LightBlue;
    border-top-width: 25px;
    border-top-color: Blue;
    border-top-style: solid;
}

#home tr:nth-child(5n + 4) td {
    background-color: Orange;
    border-top-width: 25px;
    border-top-color: DarkOrange;
    border-top-style: solid;
}

#home td {
    text-align: center;
}

/* This class is used when text in a blog is longer than 5 lines.
   It breaks the line and hides the other lines */
.blog_pre {
    width: 100%;
    word-wrap: break-all;
    white-space: pre-wrap;
    
    /* Height limit: 5 lines */
    max-height: 90px;
    overflow: hidden;
}

/* This class is used when text in a blog is longer than 5 lines,
   and the 'show more' button is clicked. */
.blog_pre_expand {
    width: 100%;
    word-wrap: break-all;
    white-space: pre-wrap;
}

/* The link to show more/less text in a blog, when 
   it is longer than 5 lines. */
.blog_link {
    color: black;
}
