

/* Text over the banner image, 
   done separate so it could be displayed in multiple languages */
.banner_blue {    
    background-image: url("../img/banner/banner_blue.svg");
}
.banner_red {    
    background-image: url("../img/banner/banner_red.svg");
}
.banner_yellow {    
    background-image: url("../img/banner/banner_yellow.svg");
}
.banner_purple {    
    background-image: url("../img/banner/banner_purple.svg");
}
.banner_green {    
    background-image: url("../img/banner/banner_green.svg");
}
.banner_black {    
    background-image: url("../img/banner/banner_black.svg");
}
.banner_orange {    
    background-image: url("../img/banner/banner_orange.svg");
}