
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ %{REQUEST_SCHEME}://%1%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

# This is for languages
# TODO: Rewrite this rule to work for languages with more than 2 letters
#RewriteRule ^(en|nl|..|..-..)/(.*)$ $2?lang=$1 [QSA,DPI]
RewriteRule ^(en|nl|..)/(.*)$ $2?lang=$1 [QSA,DPI]

# And this is for the items
RewriteRule ^(.*)/book/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^(.*)/event/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^(.*)/people/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^(.*)/location/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^(.*)/special/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]
RewriteRule ^(.*)/map/([-0-9]*)/?$ $1?id=$2 [QSA,DPI]

# This is for the API
# api/[item]/new -> api/[item]/create.php
# api/[item]/all -> api/[item]/read_all.php
# api/[item]/[id] -> api/[item]/read_one.php?id=[id]
# api/[item]/[id]/maps -> api/[item]/read_maps.php?id=[id]
# api/[item]/pages/[page] -> api/[item]/read_page.php?page=[page]
# api/[item]/[id] -> api/[item]/update.php?id=[id]
# api/[item]/[id] -> api/[item]/delete.php?id=[id]

RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^(.*)/new$ $1/create [QSA,DPI]

RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^(.*)/all $1/read_all [QSA,DPI]

RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^(.*)/([0-9]*)/maps$ $1/read_maps?id=$2 [QSA,DPI]

RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^(.*)/pages/([0-9]*)$ $1/read_page?page=$2 [QSA,DPI]

RewriteCond %{REQUEST_URI} ^/api/
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(.*)/([-0-9]*)$ $1/read_one?id=$2 [QSA,DPI]

RewriteCond %{REQUEST_URI} ^/api/
RewriteCond %{REQUEST_METHOD} PUT
RewriteRule ^(.*)/([0-9]*)$ $1/update?id=$2 [QSA,DPI]

RewriteCond %{REQUEST_URI} ^/api/
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^(.*)/([0-9]*)$ $1/delete?id=$2 [QSA,DPI]

# This is for all the pages (as long as a page is available)
# Ignore images for this part, just return the image itself
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_URI} !(\.gif|\.jpg|\.png)$ [NC]
RewriteRule ^([^/]+)?$ index.php?page=$1 [QSA,DPI]

# Making sure things are redirected to php files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}\/$1\.php -f
RewriteRule ^(.*)$ /$1.php [QSA]