
body {
	padding: 0;
	margin: 0;
	min-width: 725px;
	
	font-family: Arial;
	
	background-image: linear-gradient(
		to bottom right,
		DarkGrey,
		LightGrey,
		White,
		Grey
	);
}


/************************************************
 * Header parts
 */
.header {
	height: 75px;
	background-image: linear-gradient(
		to right,
		White 575px,
		LightGrey,
		Grey
	);
}

.header .logo a {
	width: 75px;
	height: 75px;
	
	/* This is needed to get the other elements on the 
	same line on the left side */
	float: left;

	background-image: url("../img/logo.bmp");
	background-size: 75px 75px;
}

.header .logo a:hover {
	background-image: url("../img/logo_hover.bmp");
	background-size: 75px 75px;
}

.header .banner img {
	width: 500px;
	height: 75px;
	
	/* This is needed to get the other elements on the 
	same line on the left side */
	float: left;
}

.header .options {	
	/* This is needed to get the other elements on the 
	same line on the right side */
	float: right;
}

.header .options .lang {
	height: 50px;
	width: 100px;
	
	float: left;
	
	margin: 0;
	padding: 0;
	border: 0;
}

.header .options .lang button {
	border: 0;
	padding: 0;
	margin: 0;
	
	height: 50px;
	width: 100px;
	
	display: block;
	
	/* Showing the currect language */
	color: black;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}

.header .options #lang_menu {
	display: none;
	position: absolute;
	width: 100px;
	height: 50px;
	z-index: 1;
}

.header .options .lang_option {	
	height: 50px;
	width: 100px;
	
	border: 1px solid black;
	padding: 0;
	margin: 0;
	
	/* This is needed to get the other elements on the 
	same line on the right side */
	float: left;
	
	/* Showing available languages */
	color: black;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}

.header .options .lang button:hover,
.header .options .lang_option:hover {
	border: 2px solid red;
	color: red;
}

.header .options .settings,
.header .options .settings a {
	height: 50px;
	width: 50px;
	
	float: left;
	
	margin: 0;
	padding: 0;
	border: 0;

	background-image: url("../img/settings.bmp");
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-color: Grey;
}

.header .options .settings a:hover {
	background-image: url("../img/settings_hover.bmp");
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-color: #c3c3c3;
}


/************************************************
 * Navigation parts
 */
.navigation {
	height: 50px;
	display: block;
	
	background-color: Purple;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	/* Hiding the padding when hovering */
	overflow: hidden;
	
	height: 100%;
	width: 100%;
}

.navigation li {
	float: left;	
	
	height: 100%;
	width: 16.66%;
}

.navigation li a {
	display: block;
	
	text-decoration: none;
	text-align: center;
	
	color: black;
	padding: 15px;
}

.nav_dropdown {
	width: 100%;
	height: 100%;
}

.navigation button {
	border: 0;
	padding: 0;
	margin: 0;
	
	height: 100%;
	width: 100%;
	
	display: block;
	
	color: black;
	background-color: Purple;
}

.navigation a:hover, 
.navigation button:hover, 
.navigation button:focus {
	background-color: Orchid;
}

.nav_dropdown .nav_menu {
	display: none;
	position: absolute;
	min-width: 112.5px;
	width: 16.6%;
	max-width: 16.6%;
	
	background-color: Purple;
	z-index: 1;
}

#home #nav_home,
#peoples #nav_peoples,
#peoples #nav_button_db,
#locations #nav_locations,
#locations #nav_button_db,
#specials #nav_specials,
#specials #nav_button_db,
#books #nav_books,
#books #nav_button_db,
#events #nav_events,
#events #nav_button_db,
#search #nav_search,
#search #nav_button_db,
#timeline #nav_timeline,
#familytree #nav_familytree,
#worldmap #nav_worldmap,
#aboutus #nav_aboutus,
#aboutus #nav_button_pd,
#contact #nav_contact,
#contact #nav_button_pd {
	background-color: MediumOrchid;
}


/************************************************
 * Footer parts
 */
.footer {
	display: inline-block;
	
	height: 50px;
	width: 100%;
	
	background-color: Purple;
	text-align: center;
}


/************************************************
 * Body parts
 */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
	position: relative;
}

.contents_left {
	background-color: Thistle;
	float: left;
	width: 20%;
	min-width: 145px;
	height: 500px;
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.contents_right {
	background-color: Thistle;
	float: right;
	width: 80%;
	min-width: 580px;
	min-height: 500px;
	margin: 0;
	padding: 0;
	border: 0;
}


/************************************************
 * Side bar parts
 */
#button_bar {
	width: 100%;
	display: inline-block;
}

#button_bar button {
	width: 23%;
	
	margin: 0;
	padding: 0;
	border: 0;
	
	background-color: MediumOrchid;
	color: white;
	font-size: 100%;
}

#button_bar button:hover, 
#button_bar button:focus {
	background-color: Orchid;
}

#people_bar table, #people_bar tr, 
#location_bar table, #location_bar tr, 
#event_bar table, #event_bar tr,
#book_bar table, #book_bar tr,
#special_bar table, #special_bar tr,
#family_bar table, #family_bar tr,
#world_bar table, #world_bar tr,
#timeline_bar table, #timeline_bar tr
{
	width: 100%;
	height: 100%;
}

#people_bar td, 
#location_bar td, 
#event_bar td,
#book_bar td,
#special_bar td,
#family_bar td,
#world_bar td,
#timeline_bar td
{
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-collapse: 1;
	text-align: center;
	background-color: DarkGrey;
}

#people_bar a, 
#location_bar a,
#event_bar a,
#book_bar a,
#special_bar a,
#family_bar a,
#world_bar button,
#timeline_bar a
 {
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	text-decoration: none;
	background-color: OldLace;
	width: 100%;
}


/************************************************
 * Results from database
 */

#people_info a,
#location_info a,
#event_info a,
#book_info a,
#special_info a
 {
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	background-color: Plum;
	width: 100%;
}

#people_info tr:nth-child(even),
#location_info tr:nth-child(even),
#event_info tr:nth-child(even),
#book_info tr:nth-child(even),
#special_info tr:nth-child(even)
{
	background-color: Orchid
}

#location_info tr:nth-child(odd),
#people_info tr:nth-child(odd),
#event_info tr:nth-child(odd),
#book_info tr:nth-child(odd),
#special_info tr:nth-child(odd)
{
	background-color: MediumOrchid;
}

#people_info td,
#location_info td,
#event_info td,
#book_info td,
#special_info td
 {
	border: 1px;
	border-style: solid;
	border-collapse: 1;
	padding: 0;
	margin: 0;
	width: 200px;
}


/************************************************
 * Settings parts
 */
#settings_bar a,
#settings_bar button {
	height: 10%;
	width: 90%;
	display: block;
	background-color: Orchid;
	
	margin: 15px 5px 15px 5px;
	border-radius: 12px;
	border: 0px;
	
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: White;
}

#settings_bar button:hover,
#settings_bar a:hover {
	background-color: Purple;
}

#settings_content textarea {
	display: block;
	width: 50%;
	
	padding: 10px;
	border: 0px;
	border-radius: 8px;
}

#settings_content select {
	display: block;
	width: 50%;
}

#settings_login
{
	background-color: Thistle;
}

#settings_login form 
{
	width: 100%;
}

#settings_login input {
	width: 200px;
	display: block;
	margin: auto;
}

#settings_login p {
	text-align: center;
	font-weight: bold;
}

#submitForm {
	border: 0px;
	border-radius: 8px;
	padding: 10px;
	
	color: White;
	text-align: center;
	font-weight: bold;
	background-color: Orchid;
}


/************************************************
 * Home parts
 */

#home {
	display: block;
	text-align: center;
}

#home table {
	width: 80%;
	
	margin: auto;
	padding: 10px;
	border-spacing: 10px;
}

#home td {
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	
	background-image: linear-gradient(
		to top right, 
		rgb(255, 255, 255),
		rgb(249, 236, 249),
		rgb(249, 236, 249),
		rgb(230, 179, 230),
		rgb(242, 217, 242),
		rgb(255, 255, 255),
		rgb(249, 236, 249),
		rgb(249, 236, 249), 
		rgb(230, 179, 230),
		rgb(242, 217, 242)
    );
}

.blog_pre {
	width: 100%;
	word-wrap: break-all;
	white-space: pre-wrap;
	max-height: 90px;
	overflow: hidden;
}

.blog_pre_expand {
	width: 100%;
	word-wrap: break-all;
	white-space: pre-wrap;
}

.blog_link {
	color: black;
}


/************************************************
 * Contact parts
 */
.contact {
	margin: auto;
	text-align: center;
	width: 80%;
}


/************************************************
 * Search results parts
 */
.search {
	text-align: center;
}

.search table {
	background-color: yellow;
	border-width: 1px;
	border-style: solid;
	margin: auto;
}

.search td, .search tr {
	border-width: 1px;
	border-style: solid;
}


/************************************************
 * Database parts
 */
.familytree {
	width: 100%;
	height: 500px;
	
	margin: 0;
	padding: 0;
	border: 0;
}

.timeline {
	width: 100%;
	height: 500px;
	
	margin: 0;
	padding: 0;
	border: 0;
}

#familytree svg {
	background-color: Lavender;
	margin: 0;
	padding: 0;
	border: 0;
}

#timeline svg {
	background-color: Lavender;
	margin: 0;
	padding: 0;
	border: 0;
}

#familytree,
#timeline {
	height: 500px;
}

#google_maps {
	width: 100%;
	height: 500px;
	display: none;
}
