
body {
	padding: 0;
	margin: 0;
	
	font-family: Arial;
}

.header {
	/* Remove this part eventually and replace with background-clip: scale*/
	background-color: goldenrod;
	
	display: block;
	height: 75px;
}

.header a{	
	height: 100%;
	width: 75px;
	
	/* This is needed to get the other elements on the 
	same line on the right side */
	float: left;
	
	/* Making sure that the image fits in the little corner */
	background-color: Orange;
}

.header_options {
	/**/
	background-color: red;
	
	height: 50%;
	width: 25%;
	
	/* This is needed to get the other elements on the 
	same line on the left side */
	float: right;
}

.header_options_lang {
	height: 100%;
	width: 12.5%;
	
	float: left;

	/*background-image: url("../img/lang.bmp");
	background-clip: scale;*/
	background-color: Purple;
	
	margin: 0;
	padding: 0;
	border: 0;
}

.header_options_settings {
	height: 100%;
	width: 12.5%;
	
	float: left;

	/*background-image: url("../img/settings.bmp");
	background-clip: scale;*/
	background-color: Grey;
	
	margin: 0;
	padding: 0;
	border: 0;
}

.header_options_search {
	height: 100%;
	width: 75%;
	float: left;
}

.header_options_search form {
	height: 100%;
}

.header_options_search_text {
	height: 100%;
	width: 80%;
	float: left;
	
	margin: 0;
	padding: 0;
	border: 0;
}

.header_options_search_button {
	height: 100%;
	width: 19%;
	float: right;
	
	margin: 0;
	padding: 0;
	border: 0;
	
	background-color: Pink;
}


.navigation {
	height: 50px;
	display: block;
	
	background-color: Green;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	/* Hiding the padding when hovering */
	overflow: hidden;
	
	height: 100%;
	width: 100%;
}

.navigation li {
	float: left;
	text-align: center;
	
	height: 100%;
	width: 12.5%;
}

.navigation li a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: black;
	padding: 15px;
}

.nav_dropdown {
	width: 100%;
	height: 100%;
}

.navigation button {
	border: 0;
	padding: 0;
	margin: 0;
	
	height: 100%;
	width: 100%;
	display: block;
	
	color: black;
	background-color: inherit;
}

.navigation a:hover, .navigation button:hover {
	background-color: blue;
}

#nav_menu {
	display: none;
	position: absolute;
	background-color: green;
	z-index: 1;
}


.footer {
	display: inline-block;
	
	height: 50px;
	width: 100%;
	
	background-color: Yellow;
	text-align: center;
}


.clearfix::after {
	content: "";
	clear: both;
	display: table;
	position: relative;
}

.contents_left {
	background-color: Grey;
	float: left;
	width: 20%;
	height: 500px;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.contents_right {
	background-color: Red;
	float: right;
	width: 80%;
	height: 500px;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#button_bar
{
	width: 100%;
	display: inline-block;
}

#button_left
{
	float: left;
}

#button_right
{
	float: right;
}

#people_bar table, #people_bar tr, 
#location_bar table, #location_bar tr, 
#event_bar table, #event_bar tr,
#book_bar table, #book_bar tr,
#special_bar table, #special_bar tr
{
	width: 100%;
}

#people_bar td, 
#location_bar td, 
#event_bar td,
#book_bar td,
#special_bar td
{
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-collapse: 1;
	text-align: center;
	background-color: white;
}

#people_bar a, #people_info a,
#location_bar a, #location_info a,
#event_bar a, #event_info a,
#book_bar a, #book_info a,
#special_bar a, #special_info a
 {
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	text-decoration: none;
	background-color: orange;
}

#people_info td,
#location_info td,
#event_info td,
#book_info td,
#special_info td
 {
	border: 1px;
	border-style: solid;
	border-collapse: 1;
	padding: 0;
	margin: 0;
	width: 200px;
}

#settings_bar a {
	height: 10%;
	display: block;
	background-color: yellow;
	margin: 10px 0 10px 0;
	text-align: center;
}

#settings_bar a:hover {
	background-color: orange;
}

#settings_content textarea, 
#settings_content select {
	display: block;
	width: 50%;
}

#settings_login
{
	background-color: purple;
}

#settings_login form 
{
	width: 100%;
}

#settings_login input {
	width: 200px;
	display: block;
	margin: auto;
}

#settings_login p {
	text-align: center;
}

#home table {
	background-color: Blue;
	width: 80%;
	margin: auto;
}

#home td {
	border-width: 1px;
	border-style: solid;
}

#home {
	display: block;
	text-align: center;
}
