
/* Get to use the total height of the page */
html {
    min-height: 100%;
    height: 100%;
    position: relative;
}

body {
    /* No extra spaces around stuff */
    padding: 0;
    margin: 0;
    
    /* Make sure the entire navigation bar is visible at all times */
    min-width: 725px;
    
    /* Use the total height of the page */
    min-height: 100%;
    position: relative;
    
    /* Chosen font */
    font-family: Arial;
    
}

/************************************************
 * Header parts
 */
#header {
    /* Height of the header */
    height: 75px;
    height: var(--header-height);
}

/* Text over the banner image, 
   done separate so it could be displayed in multiple languages */
#header #banner_text {
    /* So we can place it anywhere we want */
    position: absolute;
    
    /* Position of the text */
    margin-left: 100px;
    margin-top: 15px;
    
    /* Font size */
    text-align: Center;
    font-size: 24px;
    
    /* Make sure it doesn't try to wrap */
    min-width: 500px;
    min-width: var(--banner-width);
}

#header #logo_link {
    /* Simple square */
    width: 75px;
    width: var(--header-height);
    height: 75px;
    height: var(--header-height);
    
    /* This is needed to get the other elements on the 
    same line on the left side */
    float: left;

    /* Background image of the home link */
    background-image: url("../img/logo.bmp");
    background-size: 75px 75px;
    background-size: var(--header-height) 
                     var(--header-height);
    background-repeat: no-repeat;
}

/* When the cursor is hovering over the link, change the background */
#header #logo_link:hover {
    background-image: url("../img/logo_hover.bmp");
}

#header #banner_img {
    width: 500px;
    width: var(--banner-width);
    height: 75px;
    height: var(--header-height);
    
    /* This is needed to get the other elements on the 
    same line on the left side.
    In this case, the banner is positioned next to the home link*/
    float: left;
}

/* The div that contains the language options and settings button */
#header #options {    
    /* This is needed to get the other elements on the 
    same line on the right side */
    float: right;
}

/* Language button */
#header #options #dropdown_lang_div {
    height: 50px;
    height: var(--options-height);
    width: 100px;
    width: var(--lang-width);
    
    /* Place the language options on the left side of this div */
    float: left;
    
    /* No spaces around it */
    margin: 0;
    padding: 0;
    border: 0;
}

#header #options #dropdown_lang_menu {
    height: 50px;
    height: var(--options-height);
    width: 100px;
    width: var(--lang-width);
    
    /* Menu is invisible, until it is clicked by the user */
    display: none;
    
    /* Place it on top of the parent */
    position: absolute;
    z-index: 1;
}

#header #options #dropdown_lang_button,
#header #options .dropdown_lang_option {
    height: 50px;
    height: var(--options-height);
    width: 100px;
    width: var(--lang-width);
    
    /* No space around it */
    border: 0;
    padding: 0;
    margin: 0;
    
    display: block;
    
    /* Showing the language using
       All uppercase black letters */
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

#header #options #dropdown_lang_button:hover,
#header #options .dropdown_lang_option:hover {
    /* Give it a red border and red letters,
       if the user hovers over the language settings
       with the cursor */
    border: 2px solid red;
    color: red;
}

/* Settings button */
#header #options .settings {
    height: 50px;
    height: var(--options-height);
    width: 50px;
    width: var(--options-height);
    
    /* Next to the language options */
    float: left;
    
    /* No space around it or anything */
    margin: 0;
    padding: 0;
    border: 0;

    /* The settings icon */
    background-image: url("../img/icon/settings.svg");
    background-size: 50px 50px;
    background-size: var(--options-height) var(--options-height);
}

#header #options .settings:hover {
    /* Make the icon partly transparant when hovering over it 
       with the cursor. It gives the icon a slightly lighter color */
    opacity: 0.5;
}


/************************************************
 * Navigation parts
 */
#navigation {
    height: 50px;
    height: var(--nav-height);
    display: block;
}

/* The Item list that contains the different navigation buttons */
#navigation ul {
    /* No bullets or dashes */
    list-style-type: none;
    
    /* No extra space */
    margin: 0;
    padding: 0;
    
    /* Hiding the padding when hovering over it */
    overflow: hidden;
    
    /* Use the entire width of the screen */
    height: 50px;
    height: var(--nav-height);
    width: 100%;
}

#navigation li {
    /* Place the different buttons all next to each other */
    float: left;    
    
    /* Six buttons, so every button gets 1/6th of the screen */
    height: 50px;
    height: var(--nav-height);
    width: 16.66%;
}

/* Add a white border on hover */
#navigation li button:hover, 
#navigation li button:focus {
    border-color: White;
    border-style: solid;
    border-width: 3px;
}

/* The button itself */
#navigation li button {
    height: 50px;
    height: var(--nav-height);
    width: 100%;
    
    /* No space around it 
       Border = 0 is added in the color theme style sheet. */
    padding: 0;
    margin: 0;
    
    /* Not inline, so no other elements next to it */
    display: block;
}

/* The two dropdown buttons for the database and the information on ProDeo */
#navigation #dropdown_db_div,
#navigation #dropdown_prodeo_div {
    width: 100%;
    height: val(--nav-height);
}

/* The menu that will be visible when clicked on the dropdown button */
#navigation #dropdown_db_menu,
#navigation #dropdown_prodeo_menu {
    /* Make sure the button has a minimum width of 1/6th of the header
       But no wider than 1/6th of the entire screen */
    min-width: 112.5px;
    width: 16.6%;
    max-width: 16.6%;
    
    /* Not visible until clicked */
    display: none;
    
    /* Display it on top over the button */
    position: absolute;
    z-index: 1;
}


/************************************************
 * Footer parts
 */
#footer {
    /* Entire width of the screen */
    height: 50px;
    height: var(--footer-height);
    width: 100%;
    
    /* No elements next to it */
    /* display: inline-block; */
    position: absolute;
    bottom: 0;
    
    /* The text that is displayed inside of the footer */
    text-align: center;
    font-weight: bold;
}


/************************************************
 * Home parts
 */

#home {
    /* Take the entire width, get the text in the middle */
    display: block;
    text-align: center;
}

#home table {
    /* Table takes 80% of the width, but stays in the middle using margin: auto */
    width: 80%;
    margin: auto;
    
    /* Get some room al around the table */
    padding: 10px;
    border-spacing: 50px;
    
    /* Font to use title, date & name */
    font-family: "Comic Sans MS", cursive, sans-serif;
}

pre {
    /* Font to use for text */
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Use different colors for each 5 blogs
   The border on the top, makes it look like a sticky note */
#home tr:nth-child(5n) td {
    background-color: Yellow;
    border-top-width: 25px;
    border-top-color: Gold;
    border-top-style: solid;
}

#home tr:nth-child(5n + 1) td {
    background-color: LightGreen;
    border-top-width: 25px;
    border-top-color: Green;
    border-top-style: solid;
}

#home tr:nth-child(5n + 2) td {
    background-color: Pink;
    border-top-width: 25px;
    border-top-color: HotPink;
    border-top-style: solid;
}

#home tr:nth-child(5n + 3) td {
    background-color: LightBlue;
    border-top-width: 25px;
    border-top-color: Blue;
    border-top-style: solid;
}

#home tr:nth-child(5n + 4) td {
    background-color: Orange;
    border-top-width: 25px;
    border-top-color: DarkOrange;
    border-top-style: solid;
}

/* This class is used when text in a blog is longer than 5 lines.
   It breaks the line and hides the other lines */
.blog_pre {
    width: 100%;
    word-wrap: break-all;
    white-space: pre-wrap;
    
    /* Height limit: 5 lines */
    max-height: 90px;
    overflow: hidden;
}

/* This class is used when text in a blog is longer than 5 lines,
   and the 'show more' button is clicked. */
.blog_pre_expand {
    width: 100%;
    word-wrap: break-all;
    white-space: pre-wrap;
}

/* The link to show more/less text in a blog, when 
   it is longer than 5 lines. */
.blog_link {
    color: black;
}


/************************************************
 * Body parts
 */
 
/* This is to make sure that we can use the entire height of the page */
#content {
    height: 100%;
    min-height: 100%;
    padding-bottom: 50px;
    padding-bottom: var(--footer-height);
}
 
.clearfix::after {
    /* This is to make sure that, when a part of the page has two columns, it
       will continue as one column when using this class */
    content: "";
    clear: both;
    display: table;
    position: relative;
}

/* Left side of the page */
.contents_left {
    float: left;
    
    /* Using a small side (1/5th) of the page */
    width: 20%;
    min-width: 145px;
    
    /* Calculate the height, to get exactly the needed height for one full screen */
    height: calc(100vh
                - 75px
                - 50px
                - 50px);
    
    height: calc(100vh
                - var(--header-height)
                - var(--nav-height)
                - var(--footer-height));
    
    /* No spaces around it */
    margin: 0;
    padding: 0;
    border: 0;
    
    /* Hide things on the left/right sides that are overflowing
       Only use a scroll bar when needed (auto) */
    overflow-x: hidden;
    overflow-y: auto;
}

/* Right side of the page */
.contents_right {
    float: right;
    
    /* Using a larger side (4/5th) of the page */
    width: 80%;
    min-width: 580px;
    
    /* Calculate the minimum height. When more data is shown on page, 
       the height becomes larger */
    min-height: calc(100vh
                - 75px
                - 50px
                - 50px);
    min-height: calc(100vh
                - var(--header-height)
                - var(--nav-height)
                - var(--footer-height));
    
    /* No spaces around it */
    margin: 0;
    padding: 0;
    border: 0;
}

#default {
    text-align: center;
}


/************************************************
 * Settings parts
 */
 
 /* The buttons of the settings bar (left side of the screen) */
#settings_bar button {
    /* Defining the size of the buttons, make sure nothing gets next to it */
    height: 10%;
    width: 90%;
    display: block;
    
    /* Border of the buttons are rounded. Give it some space all around */
    margin: 15px 5px 15px 5px;
    border-radius: 12px;
    border: 0px;
    
    /* Text is in the middle, loud and clear */
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

/* The area's that can be filled in, previewed or edited */
#settings_content textarea {
    /* Don't take up the entire width of the content div */
    display: block;
    width: 50%;
    
    /* Some space between the borders and the letters. Make the borders rounded */
    padding: 10px;
    border: 0px;
    border-radius: 8px;
}

/* The select box, used to select different blogs */
#settings_content select {
    display: block;
    width: 50%;
}

/* The button to add, edit or delete a blog */
#submit_form_button {
    /* Smooth edges, space between the text and the border of the button */
    border: 0px;
    border-radius: 8px;
    padding: 10px;
    
    /* Clear letters in the center of the button */
    text-align: center;
    font-weight: bold;
}

/* This is the log in page form */
#settings_login form 
{
    /* Make it full width, to get the elements in the form in the middle */
    width: 100%;
}

/* The little text boxes that contain the username and password */
#settings_login input {
    width: 200px;
    display: block;
    margin: auto;
}

/* The describing text above the text boxes */
#settings_login p {
    text-align: center;
    font-weight: bold;
}


/************************************************
 * Database parts
 */
 
 /* The left side of the page contains the items to choose.
    The top of this bar contains some buttons for sorting options */
#button_bar {
    /* We want it to be the full width of the left bar */
    width: 100%;
    min-width: 145px;
    display: inline-block;
    
    /* And no spaces around it */
    margin: 0;
    padding: 0;
    border: 0;
}

/* These are the left and right buttons */
#button_bar #button_left,
#button_bar #button_right {
    /* Take up 30% of the left bar */
    width: 30%;
    height: 25px;
    height: var(--button-height);
    
    /* No spaces around it */
    margin: 0;
    padding: 0;
    border: 0;
    
    /* To slightly increase the font size */
    font-size: 100%;
}

/* Left button on the left side of the bar */
#button_bar #button_left {
    float: left;
}
/* Right button on the right side of the bar */
#button_bar #button_right {
    float: right;
}

/* Sort buttons. 4 buttons, of which only two are visible at a time.
   When a button is clicked, the image will change to the 'inverted' version of it. */
#button_bar .sort_a_z,
#button_bar .sort_z_a,
#button_bar .sort_1_9,
#button_bar .sort_9_1 {
    /* These buttons are squares */
    width: 25px;
    width: var(--button-height);
    height: 25px;
    height: var(--button-height);
    
    /* Let the browser decide where they are placed 
       between the next and prev buttons */
    margin: auto;
    padding: 0;
    border: 0;
    
    /* The size of the icon used for these buttons */
    background-size: 25px 25px;
    background-size: var(--button-height) var(--button-height);
    background-color: White;
    
    /* Align them next to the left button */
    float: left;
}

/* The actual icons for these buttons */
#button_bar .sort_a_z {
    background-image: url("../img/icon/sort_a_z.svg");
}
#button_bar .sort_z_a {
    background-image: url("../img/icon/sort_z_a.svg");
}
#button_bar .sort_1_9 {
    background-image: url("../img/icon/sort_1_9.svg");
}
#button_bar .sort_9_1 {
    background-image: url("../img/icon/sort_9_1.svg");
}


/* These are the items that can be picked */
#item_bar table, #item_bar tr
{
    /* Take the size you can get */
    width: 100%;
    height: 100%;
}

/* These table data cells contain the buttons to get the information */
#item_bar td
{
    /* Same size as the table */
    width: 100%;
    
    /* Grey clear border between the cells */
    border-width: 2px;
    border-style: solid;
    border-color: DarkGrey;
}

/* These are the clickable buttons for the different items */
#item_bar button
{
    /* Same size as the cells they are in */
    width: 100%;
    display: block;
    
    /* No space around it */
    margin: 0;
    padding: 0;
    border: 0;
    
    /* Text in the middle of the button, nice and bold */
    text-align: center;
    font-weight: bold;
    color: black;
}


/************************************************
 * Results from database
 */
 
/* The right side of the screen, that will display information
   about the chosen item */
#item_info {
    /* In the middle */
    margin: auto;
    text-align: center;
}

#item_info table
{
    /* Place the table in the middle as well */
    margin: auto;
    width: 80%;
    text-align: center;
    
    /* Get some space all around. So it isn't right under the title
       and right above the maps */
    padding: 10px;
    
    /* This way you only see one border between two cells, 
       instead of two. */
    border-collapse: collapse;
}

#item_info td {
    /* No borders on the sides */
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    
    /* Some space between the cells */
    padding: 5px;
}

/* Tiny tables inside the main table, for lists of locations, peoples etc.. */
#item_info td td {
    /* Don't show their borders */
    border-width: 0px;
}

/* First cell is the name of the field that is being shown */
#item_info td:first-child
{
    font-weight: bold;
}

/* But not for the tiny tables */
#item_info td td:first-child {
    font-weight: normal;
}


/************************************************
 * Search results parts
 */

 /* The bar on the left side of the screen, containing all the search options */
#search_bar {
    /* Use a height of 600px. That's plenty of space! */
    height: 600px;
    
    /* Text in the middle of the search bar */
    text-align: center;
}

/* This element is called the table, because it selects the type of item (table) to be searched.
   It is a select element. */
#search_bar #table {
    /* Some space on the sides */
    display: block;
    width: 80%;
    
    /* Give it a small border, and rounded corners */
    border: 1px solid black;
    border-radius: 4px;
    
    /* The space between the borders and the text in the select element */
    padding: 3px;
    
    /* The space between this element, and elements after it */
    margin: 5px auto 20px auto;
}

/* These are the elements added, when the select element has a different value.
   This class is used, to get all the items with this class and remove them, when
   the select element gets a new value. So we can start clean. */
.added {
    /* Same width as the select item */
    display: block;
    width: 80%;
    
    /* Again, a small border and rounded corners */
    border: 1px solid black;
    border-radius: 4px;
    
    /* Space between the borders and the text in the elements */
    padding: 3px;
    
    /* Space between this element, and the elements after it. */
    margin: 5px auto 5px auto;
}


/* This div, contains two select elements. One for bible books, and one for chapters. */
.added_app_div {
    /* Same width as other elements */
    display: block;
    width: 80%;
    
    /* Space between the borders and the text in the elements */
    padding: 3px;
    
    /* Space between this element, and the elements after it. */
    margin: 5px auto 5px auto;
}

/* These texts are used to describe the select elements */
.added_app_text {
    /* Same width as other elements */
    display: block;
    width: 80%;
    
    /* Bold letters, easier to read */
    font-weight: bold;
    
    /* Space between the borders and the text in the elements */
    padding: 1px;
    
    /* Space between this element, and the elements after it. */
    margin: 0px auto 0px auto;
}

/* These are the select elements, that contain a bible book name or a chapter value */
.added_app_select {    
    /* A small border and rounded corners */
    border: 1px solid black;
    border-radius: 4px;
    
    /* Space between the borders and the text in the elements */
    padding: 3px;
    
    /* Space between this element, and the elements after it. */
    margin: 5px auto 5px auto;
}

/* The results on the right side of the screen */
#search_results {
    /* All text in the center */
    text-align: center;
}

/* Table containing the search results */
#search_results table { 
    /* Rounded edges and a black border */
    border-style: solid;
    border-color: black;
    border-width: 3px;
    
    /* In the middle of the screen, with some extra room under it */
    margin: auto;
    margin-bottom: 20px;
}

/* The rows with information */
#search_results td,
#search_results tr {
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
}


/************************************************
 * Map parts
 */

 /* This bar shows up when a map is loading */
#progress_bar {
    /* Sizes */
    width: 80%;
    height: 30px;
    
    /* Grey background color */
    background-color: Grey;
}

/* This is the progress inside of the bar */
#progress {
    /* (Starting) sizes */
    width: 1%;
    height: 100%;
    
    /* Green color */
    background-color: green;
    
    /* Position the white text in the center */
    line-height: 30px;
    text-align: center;
    color: white;
}

/* Right side of the screen */
/* TODO: Extended events */
#familytree_div,
#timeline_div,
#timeline_ext_div{
    max-height: 500px;
    overflow: hidden;
}

/* The SVG in the div */
/* TODO: Extended events */
#familytree_div svg,
#timeline_div svg,
#timeline_ext_div svg{
    /* No offsets or anything */
    margin: 0;
    padding: 0;
    border: 0;
    
    /* Background color is white */
    background-color: White;
}

/* This div contains the actual map provided by Google */
#google_maps {
    width: 100%;
    min-height: 500px;
    
    /* Calculate the minimum height. When more data is shown on page, 
       the height becomes larger */
    height: calc(100vh
                - 75px
                - 50px
                - 50px);
    height: calc(100vh
                - var(--header-height)
                - var(--nav-height)
                - var(--footer-height));
    display: none;
}


/* Make sure that, when the user is moving the map around, no text or anything is being selected */
.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/************************************************
 * Contact parts
 */
#aboutus #content,
#contact #content {
    /* Use 80 percent of the width of the screen, 
       Using margin: auto, the div is placed in the middle 
       of the screen. */
    width: 80%;
    margin: auto;
    
    /* Put the text in the middle of the screen */
    text-align: center;
}

/* The area's that can be filled in, previewed or edited */
#contact #content textarea {
    /* Don't take up the entire width of the content div */
    display: block;
    width: 50%;
    
    /* Some space between the borders and the letters. Make the borders rounded */
    margin: 10px auto 10px auto;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
}

/* The button to add, edit or delete a blog */
#contact #content input {
    /* Smooth edges, space between the text and the border of the button */
    border: 0px;
    border-radius: 8px;
    padding: 10px;
    
    /* Clear letters in the center of the button */
    text-align: center;
    font-weight: bold;
}

/************************************************
 * The root element (gives an error in netbeans, so at the bottom for now)
 */

/* Store some variables in here */
:root {
    --header-height: 75px;
    --options-height: 50px;
    --nav-height: 50px;
    --footer-height: 50px;
    --button-height: 25px;
    --banner-width: 500px;
    --lang-width: 100px;
}
